/*GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

:root{
    --negroGris: #3d3d3d;
    --negroLogo: #333333;
    --gris: #888888;
    --grisBlanco: #dee2e6;
    --blanco: #f5f5f5;
    --rojo: #e70c0c;    
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.desaparecer{
    display: none;
}

.contenedor {
    width: 100%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

.section{
    padding: 5rem 0;
    text-align: center;
}

.titulo{
    color: var(--negroGris);
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: left;
}

.subtitulo{
    color: var(--negroGris);
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}

.texto{
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--negroGris);
}

/*Barra de Navegacion*/
.navegacion{
    background-color: transparent;
    height: 6rem;
    position: absolute;
    z-index: 5;
    margin-left: 60%;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--blanco);
    padding: 2rem 2rem 1.5rem;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}



/*Seccion Principio*/
.principio{
    height: 95rem;
}

.imagen{
    background-image: url(/Img/imagenFondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}

.contenedor-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titulo-nombre, .texto-span{
    color: var(--blanco);
}

.titulo-nombre{
    font-size: 4.8rem;
}

.titulo-nombre span{
    font-size: 5.5rem;
    color: var(--rojo);
}

.texto-span{
    font-size: 2.5rem;
}



/*Seccion de Informacion*/
.informacion-elementos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.informacion-textos{
    text-align: left;
    line-height: 4rem;
    padding-right: 10rem;
}

.habilidades h2{
    text-align: left;
}

.contenedor-habilidades{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.item{
    font-size: 2rem;
    padding: 3.5rem;
    transition: all 0.3s;
    min-width: 13rem;
    height: 18rem;
}


/*Seccion de Informacion*/
.servicios-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: var(--negroGris);
    padding: 2rem 0;
}

.servicio-item{
    width: 30rem;
    height: 20rem;
    padding: 2rem;
}

.item-img{
    object-fit: contain;
    height: 40%;
    width: auto;
}