/*GENERAL*/
:root{
    --negro: #111111;
    --negroLogo: #333333;
    --gris: #888888;
    --grisBlanco: #dee2e6;
    --blanco: #ffffff;
    --rojo: #d00000;    
}

html{
    height: 100%;
    font-size: 62.5%;
}

body{
    margin: 0;
    background-color: var(--negroLogo);
    height: 100%;
}

h1, h2{
    font-family: 'Source Code Pro', monospace;
    font-size: 4rem;
    font-weight: 600;
    color: var(--blanco);
    text-shadow: .5rem .5rem 1rem black;
    text-align: center;
}

p{
    font-size: 2.5rem;
    color: var(--blanco);
}

/*INDEX.HTML*/

/*HEADER*/
.icono{
    right: 83px;
    top: 35px;
    cursor: pointer;
    padding: 5px 4px;
    background-color: transparent;
}
