/*GENERAL*/
:root{
    --negro: #111111;
    --negroLogo: #333333;
    --gris: #888888;
    --grisBlanco: #dee2e6;
    --blanco: #ffffff;
    --rojo: #d00000;    
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
}

h1, h2{
    font-family: 'Source Code Pro', monospace;
    font-size: 5rem;
    font-weight: 600;
    color: var(--blanco);
    text-shadow: .5rem .5rem 1rem black;
    text-align: center;
}

p{
    font-size: 2.5rem;
}

/*HEADER*/
.header{
    background-image: url(Img/imagenFondo.jpg);
    width: 100%;
    height: 94rem;
    object-fit: contain;
}

/*Navegacion*/
.navegacion{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.navegacion_imagen{
    width: 25rem;
    height: 15rem;
    object-fit: contain;
    padding-top: 1rem
}

.navegacion_elemento{
    display: none;
}

.iconoMenu{
    margin: auto 8rem auto auto;
}

/*Informacion*/
.informacion{
    display: flex;
    height: 40rem;
    width: 50rem;
    margin: 10rem 20rem auto auto;
    flex-direction: column;
}

.informacion_titulo{
    margin: auto auto 0 auto;
}

.icon-tabler{
    margin: .5rem;
}

.informacion_texto{
    display: inline-block;
    color: var(--blanco);
    margin: 1rem auto auto auto;
    text-shadow: .5rem .5rem 1rem black;
}

/*tecnologias y lenguajes*/

.habilidades_lenguajes{
    display: flex;
    flex-wrap: wrap;
    transition: 1s;
    justify-content: center;
}

.imagen_lenguaje{
    object-fit: contain;
    height: 20rem;
    width: 30rem;
    box-shadow: .1rem .2rem 1rem  black;
    padding: 2rem;
    margin: 2rem;
}